@font-face {
  font-family: 'tearsfont-1.2';
  /* 🌟 副檔名改成 .otf，後面的 format 必須改成 opentype */
  src: url('./assets/tearsfont-1.2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}